body{
    background-image: url(assets/images/bat\ campii.jpg);
    font-family:sans-serif;
}
h1{
    text-align: left;
color:#f5f5f5;
    text-decoration: underline;
}
a{
    color:white;
}
.bus{
    color:#f5f5f5;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}
.est{
color:silver;
}
.container{
    margin-left: auto;
    margin-top: auto ;
    margin-right:auto;
    margin-bottom:auto10;
    background-color: rgba(0, 0, 75, 0.795);
}